@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero-calls-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35em;
}

.hero-calls-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 35em;
    border-radius: 0 0 1em 0em;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 2% 100%);
    user-select: none;
}


.hero-calls-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 35em;
    background-color: #F6C303;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    z-index: 1;
    border-radius: 0 0 0em 1em;
}

.hero-calls-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: 75%;
}

.hero-calls-content-title {
    text-align: start;
    font-size: 2.5em;
    font-weight: bold;
    color: #29166D;
}

.hero-calls-content-title1 {
    text-align: start;
    font-size: 2em;
    font-weight: bold;
    color: #29166D;
}

.hero-calls-content-image {
    border-radius: 50%;
    width: 8em;
    border: solid 3px #29166D;
}

.hero-calls-content-image2 {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    object-fit: cover;
    border: solid 3px #29166D;
}

.text-muted {
    font-size: 1.2em;
}

@media (max-width: 922px) {
    .hero-calls-content-title {
        font-size: 2.5em;
    }

    .hero-calls-content-subtitle {
        font-size: 1em;
    }

    .hero-calls-content-image {
        width: 7em;
    }

    .hero-calls-content-image2 {
        width: 7em;
        height: 7em;
    }
}

@media (max-width: 768px) {
    .hero-calls-content-title1 {
        font-size: 1.7em;
    }
}

@media (max-width: 680px) {
    .hero-calls-content-title {
        font-size: 1.7em;
    }

    .hero-calls-content-title1 {
        font-size: 1.3em;
    }

    .hero-calls-content-subtitle {
        font-size: 0.8em;
    }

    .hero-calls-content-image {
        width: 5em;
    }

    .hero-calls-content-image2 {
        width: 5em;
        height: 5em;
    }

    .text-muted {
        font-size: 0.9em;
    }
}