* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Full height of the viewport */
    min-height: 100dvh
}

section {
    scroll-margin-top: 70px;
}

.invisible-navbar {
    height: 70px;
    background-color: #271C57;
}

.navbar {
    /*gradient navbar background*/
    background: linear-gradient(to right, rgb(39, 28, 87) 0%, rgba(65, 43, 143, 0.895) 50%, rgb(39, 28, 87) 100%);
    min-height: 70px;
    border-radius: 0 0 1em 1em;
}

.navbar-toggler:focus {
    /* Remove focus outline */
    outline: none;
    /* Remove box shadow */
    box-shadow: none;
}

.nav-link {
    color: #ffc107;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link.active {
    background-color: #ffc107;
    color: #1a0a6e !important;
    border-radius: 25px;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.05);
}

/* Burguer menu styles */

.burger {
    position: relative;
    width: 30px;
    height: 22px;
    display: block;
    cursor: pointer;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 9px;
    transition: 0.3s ease-in-out;
    transform-origin: center;
}

.burger span:nth-child(2) {
    top: 0;
}

.burger span:nth-child(3) {
    top: 10px;
}

.burger span:nth-child(4) {
    top: 20px;
}

.burger input:checked~span:nth-child(2) {
    transform: rotate(45deg);
    top: 10px;
}

.burger input:checked~span:nth-child(3) {
    opacity: 0;
}

.burger input:checked~span:nth-child(4) {
    transform: rotate(-45deg);
    top: 10px;
}