* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    /* Adjusted for fixed navbar height */
    min-height: 100dvh;
    /* Use dynamic viewport height for better responsiveness */
}

section {
    scroll-margin-top: 70px;
}

.navbar {
    background-color: #29166F;
    min-height: 70px;
}

.navbar-toggler:focus {
    outline: none;
    /* Remove default focus outline */
    box-shadow: none;
    /* Remove default focus shadow */
}

/* Burguer menu styles */

.burger {
    position: relative;
    width: 30px;
    height: 22px;
    display: block;
    cursor: pointer;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 9px;
    transition: 0.3s ease-in-out;
    transform-origin: center;
}

.burger span:nth-child(2) {
    top: 0;
}

.burger span:nth-child(3) {
    top: 10px;
}

.burger span:nth-child(4) {
    top: 20px;
}

.burger input:checked~span:nth-child(2) {
    transform: rotate(45deg);
    top: 10px;
}

.burger input:checked~span:nth-child(3) {
    opacity: 0;
}

.burger input:checked~span:nth-child(4) {
    transform: rotate(-45deg);
    top: 10px;
}