@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Global Styles */

a {
    text-decoration: none;
}

/* Hero Styles */

.hero {
    background-color: black;
    height: calc(100dvh - 70px); /* Full height minus navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.call-card {
    background-color: #ddd; 
    border-radius: 10px;
    border: 1px solid #aaa;
    overflow: hidden;
    height: 100%; 
}

.black-stripe { 
    width: 12px;
    background-color: #000;
    min-height: 100%; 
    flex-shrink: 0; 
}

.gray-avatar {
    width: 40px;
    height: 40px;
    background-color: #999;
    border-radius: 50%;
}

.icon-link {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.icon-link:hover {
    color: #007bff;
}

.card-content {
    flex-grow: 1; 
}