<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meninas Digitais - ERBASE 2025</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/cursor.svg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/layout.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/calls.css">
</head>

<body>
    <!-- Navbar -->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg border-bottom border-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo-navbar.svg" alt="Erbase Logo" width="90"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler border-0 p-0 m-0" type="button">
                    <label class="burger" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <input type="checkbox" id="burger-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex align-items-center me-lg-5 gap-3">
                        <a class="nav-link d-flex align-items-center" href="/#home">
                            <i class="fas fa-home me-2"></i>
                            <span>Início</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#about">
                            <i class="fas fa-info-circle me-2"></i>
                            <span>Sobre</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#calls">
                            <i class="fas fa-bullhorn me-2"></i>
                            <span>Chamadas</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#schedule">
                            <i class="fas fa-calendar-alt me-2"></i>
                            <span>Programação</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#speakers">
                            <i class="fas fa-user me-2"></i>
                            <span>Palestrantes</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#registrations">
                            <i class="fas fa-edit me-2"></i>
                            <span>Inscrições</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--End Navbar-->
    <main>
        <!-- Hero Section -->
        <section class="hero-calls-section">
            <div class="hero-calls-left" style="background-color: #484848;">
                <div class="hero-calls-content">
                    <h1 class="hero-calls-content-title">Meninas Digitais</h1>
                    <h3 class="hero-calls-content-subtitle">Workshop de ações, projetos e experiências conduzidas por
                        meninas e mulheres na área de computação.</h3>
                </div>
            </div>
            <div class="hero-calls-right">
                <div class="hero-calls-content" style="align-items: center;">
                    <img src="static/images/girl-2.svg" alt="Meninas Digitais" class="hero-calls-content-image" />
                </div>
            </div>
        </section>
        <!-- End Hero Section -->

        <!-- About Section -->
        <section class="py-5">
            <div class="container">
                <h3 class="section-title mt-5 fw-bold">Sobre o Meninas Digitais</h3>
                <p class="text-body text-justify">
                    O <strong>Workshop Meninas Digitais</strong> da Escola Regional de Computação Bahia-Alagoas-Sergipe
                    é o fórum para
                    discussões embasadas por pesquisas e atividades extensionistas desenvolvidas por e para mulheres em
                    qualquer dos níveis educacionais (educação básica, ensino médio e educação superior) em sua região
                    de abrangência.
                </p>

                <p class="text-body text-justify">
                    Previsto para acontecer durante a ERBASE 2025, o Workshop Meninas Digitais tem o objetivo de
                    proporcionar uma ambiência favorável ao debate, à divulgação de pesquisas e atividades
                    extensionistas e estimular o surgimento de outras iniciativas que visem intensificar a presença e
                    permanência das meninas e mulheres em cursos das áreas da Computação.
                </p>

                <p class="text-body text-justify">
                    Segundo análise do Instituto de Pesquisa Econômica Aplicada (IPEA), os dados do Diretório de Grupos
                    de Pesquisa do CNPq (2023) mostram que houve uma evolução considerável na distribuição por sexo nas
                    atividades científicas ao longo do tempo, com um aumento constante e significativo da participação
                    das mulheres para 52% em 2023. Entretanto, ao analisar os dados por área de conhecimento, entre os
                    pesquisadores na área das Engenharias e Computação, essa porcentagem cai para cerca de 31,1%. Essa
                    sub-representação reflete os desafios históricos enfrentados pelas mulheres no campo tecnológico,
                    que incluem barreiras culturais, falta de incentivos e um ambiente profissional predominantemente
                    masculino.
                </p>

                <h3 class="section-title mt-5 fw-bold">Público-alvo</h3>
                <p class="text-body text-justify">O público-alvo deste evento é formado por estudantes do ensino médio;
                    médio-técnico; graduação, que
                    já desenvolvem projetos acadêmicos em suas respectivas instituições, sob orientação de
                    professores(as)/pesquisadores(as) da área de Computação e afins; e estudantes de pós-graduação da
                    área de Computação e afins que buscam por um espaço para discutir resultados preliminares de seus
                    trabalhos.</p>

                <p class="text-body text-justify">O Workshop Meninas Digitais passa a ser a oportunidade de
                    fortalecimento da presença feminina na Computação e áreas afins, por meio da divulgação de
                    iniciativas dessa natureza, pesquisas concluídas ou em desenvolvimento encabeçadas por mulheres. É
                    incentivada a participação das estudantes de todos os níveis educacionais, que podem submeter os
                    resultados de Iniciação Científica e de Extensão em projetos dessa área, compartilhando esse espaço
                    com pesquisadoras e alunas da região compreendida pelos Estados Bahia, Alagoas e Sergipe.
                </p>

                <h3 class="section-title mt-5 fw-bold">Trilhas de Submissão</h3>
                <ul>
                    <li>Pesquisa Científica</li>
                    <li>Ferramentas</li>
                    <li>Relatos de Experiência</li>
                </ul>

                <p class="fw-bold fs-5">Trilha 1 – Artigos de pesquisa</p>
                <p class="text-body text-justify">
                    artigos de investigação original ou estudos relacionados a tópicos relevantes e de interesse atual
                    para a imersão de mulheres nas áreas de tecnologia, com rigor metodológico, apresentação e análise
                    de resultados qualitativos e/ou quantitativos.
                </p>

                <p class="fw-bold fs-5">Trilha 2 – Ferramentas</p>
                <p class="text-body text-justify">
                    artigos que apresentem o desenvolvimento ou a análise de softwares, aplicativos, frameworks e
                    ferramentas computacionais visando o público feminino.
                </p>

                <p class="fw-bold fs-5">Trilha 3 – Relatos de experiência</p>
                <p class="text-body text-justify">
                    artigos de relatos de experiência relacionados à extensão ou ensino para compartilhar experiências
                    práticas. Espera-se que os artigos nesta trilha descrevam cuidadosamente experiências voltadas à
                    apoiar e promover a participação de mulheres nas áreas de tecnologia, com fundamentação
                    teórico-metodológica na área de estudo.
                </p>

                <h3 class="section-title mt-5 fw-bold">Por que participar do Workshop Meninas Digitais?</h3>
                <p class="text-body text-justify">
                    A Escola Regional de Computação Bahia-Alagoas-Sergipe (ERBASE) é reconhecida como um dos principais
                    eventos regionais do país na área da Computação. Uma das suas principais contribuições neste evento
                    está no fomento à melhoria na qualidade de formação dos estudantes da região. Muitos de seus
                    egressos, de pós-graduações reconhecidas nestes estados, dão seus primeiros passos na pesquisa neste
                    evento publicando artigos, apresentando seus trabalhos ou participando de seus diversos Workshops e
                    minicursos.
                </p>

                <p class="text-body text-justify">
                    Todos os artigos aceitos apresentados durante o evento comporão os anais do workshop, que são
                    publicados na SOL (Biblioteca Digital da Sociedade Brasileira de Computação), possibilitando ampliar
                    a visibilidade da participação feminina nas áreas abrangidas pela ERBASE.
                </p>

                <p class="text-body text-justify">
                    Os artigos selecionados serão apresentados em sessões técnicas e publicados em meio digital. Para a
                    submissão da versão final do artigo, os autores podem verificar a matéria e enviar também o termo de
                    cessão de direitos autorais via SBC, que pode ser encontrado na seção de links úteis.
                </p>

                <h3 class="section-title mt-5 fw-bold">Tópicos de interesse</h3>
                <ul>
                    <li>
                        Análise de dados educacionais sobre mulheres e Computação no ensino fundamental, médio ou
                        superior
                    </li>
                    <li>Análise de dados no mercado de trabalho de Computação para mulheres</li>
                    <li>Ferramentas e jogos educacionais visando o público feminino</li>
                    <li>
                        Intervenções educacionais de apoio a mulheres na educação básica e no ensino superior em
                        Computação
                    </li>
                    <li>Inclusão e acessibilidade na Computação para o público feminino</li>
                    <li>Interseccionalidade</li>
                    <li>Letramento digital do público feminino</li>
                    <li>Relato de experiência no ensino fundamental, médio ou superior</li>
                    <li>Relato de experiência no mercado de trabalho</li>
                </ul>

                <h3 class="section-title mt-5 fw-bold">Submissão de artigos</h3>
                <p class="text-body text-justify">
                    As submissões deverão ser feitas via plataforma JEMS 3 da SBC:
                    <a href="https://jems3.sbc.org.br/meninasdigitais2025" target="_blank" rel="noopener noreferrer">
                        https://jems3.sbc.org.br/meninasdigitais2025
                    </a>
                </p>

                <p class="text-body text-justify">
                    O formato dos artigos deve seguir o padrão da SBC:
                    <a href="https://abrir.link/dPIeo" target="_blank" rel="noopener noreferrer">
                        https://abrir.link/dPIeo
                    </a>. O limite total é de
                    <span class="fw-bold">12 páginas</span>
                    , sendo no mínimo 8 e no máximo 10 de texto, e até 2 páginas para Agradecimentos e Referências
                    Bibliográficas.
                </p>

                <p class="text-body text-justify">
                    Durante o julgamento dos trabalhos, serão observados os critérios de originalidade, relevância,
                    apresentação e qualidade técnica e científica da produção. As submissões consideradas para análise
                    do Comitê Científico serão aquelas de trabalhos com a primeira autoria feminina (podendo ter
                    coautores masculinos). Para todos os casos, os trabalhos devem estar em andamento (com resultados
                    preliminares) ou terem sido concluídos.
                </p>

                <p class="text-body text-justify">
                    Os trabalhos selecionados serão apresentados em sessões técnicas e publicados em meio digital. Para
                    que o artigo seja incluído nos anais do evento, é obrigatória a inscrição de pelo menos um dos
                    autores.
                </p>

                <p class="text-body text-justify">
                    A seleção será feita por meio de revisão por pares (Blind Review), garantindo a imparcialidade do
                    processo. Cada trabalho será avaliado por, no mínimo, dois revisores, e serão aceitos os melhores
                    avaliados, respeitando o número máximo de apresentações definidas para o evento.
                </p>

                <p class="text-body text-justify">
                    Serão aceitas apenas <span class="fw-bold">submissões anônimas</span>, ou seja, os trabalhos não
                    devem citar os nomes das pessoas
                    autoras, de Projetos, de Instituições e de cidades, ou ainda links para websites que revelem tais
                    informações.
                </p>

                <p class="text-body text-justify">
                    Sugestões para tornar seu trabalho anônimo incluem:
                </p>

                <p class="text-body text-justify">
                    Remova qualquer identificação de autoria, no espaço destinado ao nome dos autores &lt;omitido para
                    revisão&gt; e das instituições &lt;instituições dos autores&gt;
                    Remova as citações de artigos de sua própria autoria ao longo do texto. Se houver necessidade de
                    citação, use o termo &lt;omitido para revisão&gt;.
                    Evite citar uma grande quantidade de trabalhos de sua própria autoria. Atenha-se ao mínimo de
                    trabalhos suficiente para contextualizar a nova contribuição, como se fosse um trabalho escrito por
                    outra pessoa aos olhos de quem lê sua submissão.
                    Evite expressões do tipo “Em trabalhos anteriores, nós […]” seguidas de uma citação explícita de um
                    trabalho de sua autoria ou de seu grupo de pesquisa.
                    Omita a seção de Agradecimentos, se houver; a mesma poderá ser inserida na versão final, caso a
                    submissão seja aceita.
                </p>

                <p class="text-body text-justify fw-bold">
                    Os autores dos artigos aceitos deverão preencher e assinar o Termo de Autorização de Publicação.
                </p>


                <h3 class="section-title mt-5 fw-bold">Inscrições</h3>
                <p class="text-body text-justify">
                    Os autores dos trabalhos aceitos NÃO serão dispensados do pagamento da
                    inscrição na ERBASE. A publicação do artigo nos anais do evento está condicionada à inscrição de
                    pelo menos uma das autoras no evento, bem como à apresentação do trabalho durante a ERBASE.
                </p>
                <h3 class="section-title mt-5 fw-bold">Datas importantes</h3>
                <ul>
                    <li><strong>Data Limite para Submissão: </strong>28 de Junho de 2025</li>
                    <li><strong>Resultados: </strong><s>11 de julho de 2025</s> 16 de julho de 2025</li>
                    <li><strong>Envio da Versão Final: </strong><s>18 de julho de 2025</s> 23 de julho de 2025</li>
                    <li><strong>Inscrição de pelo menos uma autora por trabalho: </strong><s>11 de julho de 2025</s> 23 de julho de 2025</li>
                    <li><strong>Evento: </strong>12 a 15 de agosto de 2025</li>
                </ul>

                <h3 class="section-title mt-5 fw-bold">Modelos de slides para apresentação</h3>
                <p class="text-body text-justify">
                    <a href="https://docs.google.com/presentation/d/1FSbh07Yjly63uGSMddzmUfXAtFUx2Lm4/edit?usp=sharing&ouid=106406550455673293924&rtpof=true&sd=true">
                        Modelo de slides MeninasDigitais
                    </a>
                </p>

                <h3 class="section-title mt-5 fw-bold">Coordenação</h3>
                <ul>
                    <li>Jislane Silva Santos de Menezes (Instituto Federal de Sergipe)</li>
                    <li>Mai-Ly Vanessa Almeida Saucedo Faro (Universidade Federal de Sergipe)</li>
                </ul>

                <h3 class="section-title mt-5 fw-bold">Links úteis</h3>
                <ul>
                    <li><a href="https://abrir.link/dPIeo">Modelos para Publicação de Artigos (Padrão SBC)</a></li>
                    <li><a href="https://main--ornate-begonia-abfe87.netlify.app/pages/meninasdigitais#">Biblioteca
                            Digital da Sociedade Brasileira de Computação</a></li>
                    <li>
                        <a href="https://horizontes.sbc.org.br/index.php/2021/01/guia-rapido-para-submissao-anonima-proteja-sua-identidade-corretamente/">Guia
                            rápido para submissão anônima
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End About Section -->
    </main>
    <!-- Footer -->
    <footer class="text-white py-5" style="background-color: #29166D; border-radius: 20px 20px 0 0;">
        <div class="container">
            <div class="row gy-4 text-center text-md-start">
                <!-- Realization -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Realização</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <a href="https://www.sbc.org.br/" target="_blank" rel="noopener noreferrer">
                            <img src="static/images/sbc.svg" alt="SBC" height="60" />
                        </a>
                        <img src="static/images/ifs-lag.svg" alt="IFS Lagarto" height="60" />
                    </div>
                </div>

                <!-- Support -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Apoio</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <img src="static/images/ufs.svg" alt="UFS" height="60" />
                        <img src="static/images/uninassau.svg" alt="UNINASSAU" height="60" />
                    </div>
                </div>


                <!-- Funding -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Fomento</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <img src="static/images/ifs-propex.svg" alt="IFS Propex" height="60" style="max-width: 100%;" />
                        <img src="static/images/fapitec.svg" alt="FAPITEC" height="60" />
                    </div>
                </div>

                <!-- Sponsorship -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Patrocínio</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <img src="static/images/quero-delivery.svg" alt="Quero Delivery" height="80" />
                        <img src="static/images/minas.png" alt="Minas" height="60" />
                        <img src="static/images/tecnos.png" alt="Tecnos" height="60" />
                    </div>
                </div>

                <hr class="border-light" />

                <div
                    class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center mt-4 px-2 text-center text-md-start">
                    <small>&copy; 2025 ERBASE - Todos os direitos reservados.</small>
                    <small>
                        Contato:
                        <a href="mailto:erbase2025@ifs.edu.br" class="text-white text-decoration-underline">
                            erbase2025@ifs.edu.br
                        </a>
                    </small>
                </div>


            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="static/js/scripts.js"></script>
</body>

</html>