<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RoboBase - ERBASE 2025</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/cursor.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/calls.css">
</head>

<body>
    <!-- Navbar -->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg border-bottom border-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="../static/images/logo-navbar.svg" alt="Erbase Logo" width="90"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler border-0 p-0 m-0" type="button">
                    <label class="burger" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <input type="checkbox" id="burger-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex align-items-center me-lg-5 gap-3">
                        <a class="nav-link d-flex align-items-center" href="/#home">
                            <i class="fas fa-home me-2"></i>
                            <span>Início</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#about">
                            <i class="fas fa-info-circle me-2"></i>
                            <span>Sobre</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#calls">
                            <i class="fas fa-bullhorn me-2"></i>
                            <span>Chamadas</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#schedule">
                            <i class="fas fa-calendar-alt me-2"></i>
                            <span>Programação</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#speakers">
                            <i class="fas fa-user me-2"></i>
                            <span>Palestrantes</span>
                        </a>
                        <a class="nav-link d-flex align-items-center" href="/#registrations">
                            <i class="fas fa-edit me-2"></i>
                            <span>Inscrições</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--End Navbar-->
    <main>
        <!-- Hero Section -->
        <section class="hero-calls-section">
            <div class="hero-calls-left" style="background-color: #277E13;">
                <div class="hero-calls-content">
                    <h1 class="hero-calls-content-title">RoboBase</h1>
                    <h2 class="hero-calls-content-subtitle">Competição na qual as habilidades e características dos
                        robôs criados são avaliadas e testadas.</h2>
                </div>
            </div>
            <div class="hero-calls-right">
                <div class="hero-calls-content" style="align-items: center;">
                    <img src="../static/images/robotic-dog-2.svg" alt="XBase" class="hero-calls-content-image" />
                </div>
            </div>
        </section>
        <!-- End Hero Section -->

        <!-- About Section -->
        <section class="py-5">
            <div class="container">

                <h3 class="section-title mt-5 fw-bold">Sobre o RoboBase</h3>
                <p class="text-body text-justify">
                    O <strong>RoboBase</strong> é uma competição de robótica que coloca em prova as
                    máquinas desenvolvidas pelos estudantes e pesquisadores de várias
                    instituições públicas e privadas da região. ​
                    Essa será a sétima edição, e ocorrerá no  <strong> Instituto Federal de Sergipe Campus
                    da Cidade de Lagarto SE </strong> 
                </p>

                <p class="text-body text-justify">
                   A ROBOBASE tem o objetivo de promover a criatividade, a capacidade de trabalhar em equipe e de buscar soluções de hardware e software para superar seus adversários nas diferentes classes e categorias disponíveis, além da habilidade de resolver tais problemas mesmo sob certa pressão psicológica, inerente a uma competição.

                </p>

                <p class="text-body text-justify">
                    Esta competição foi elaborada com base nos moldes das competições de robótica tais como Olimpíada Brasileira de Robótica (OBR), ROBOCORE® Experience e FUJISOFT® All Japan Robot-Sumo Tournament.
                </p>


                <!-- Competition Modalities Section-->
                <h3 class="section-title mt-5 fw-bold">Modalidades da Competição</h3>
                <h5 class="fw-bold mt-4">Seguidor de Linha</h5>
                <div class="row align-items-center mt-3 mb-4">
                    <div class="col-md-4 text-center">
                        <img src="../static/images/seguidor-linha.webp" alt="Robô seguidor de linha" class="img-fluid rounded">
                    </div>
                    <div class="col-md-8">
                        <p class="text-body text-justify">
                            O robô deve seguir um trajeto pré-determinado (demarcado por uma fita de cor branca sobre uma superfície preta). Cada robô acessa a pista individualmente e realiza a tomada de tempo.
                        </p>
                        <p class="text-body text-justify">
                            Ocorrerão 3 tomadas de tempo durante a competição.
                        </p>
                        <p class="text-body text-justify">
                            Vence o robô que concluir o percurso em menor tempo.
                            <a href="https://docs.google.com/document/d/1mqeWCcjDqtsvMQWtUlY0xe2675mayWjuc14MGFMoyGs/edit?tab=t.0" target="_blank">Regras seguidor de linha</a>
                        </p>
                    </div>
                </div>

                <h5 class="fw-bold mt-5">Sumô de Robôs Autônomo</h5>
                <div class="row align-items-center mt-3 mb-4">
                    <div class="col-md-8">
                        <p class="text-body text-justify">
                            Dois robôs se enfrentam em um ringue circular (dojô), o objetivo é empurrar o oponente para fora do dojô, em uma disputa de melhor de 3.
                        </p>
                        <p class="text-body text-justify">
                            A forma de chaveamento é a dupla eliminação.
                        </p>
                        <p class="text-body text-justify">
                            Existem 2 categorias: O Mega Sumô de 3kg e 20x20cm e o Mini Sumô de 500g e 10x10 cm.
                            <a href="https://docs.google.com/document/d/1xYfCfy5-Zc4V1PNY0scQdOYroMBfF7uL2eGMfE9-Nsg/edit?tab=t.0" target="_blank">Regras sumô de robôs</a>.
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="../static/images/sumo.webp" alt="Sumô de Robôs Autônomo" class="img-fluid rounded">
                    </div>
                </div>


                <h5 class="fw-bold mt-5">FUTBOT – Futebol de Robôs Rádio Controlado – Demonstração</h5>
                <div class="row align-items-center mt-3 mb-4">
                    <div class="col-md-4 text-center">
                        <img src="../static/images/futbot.webp" alt="Futebol de Robôs - FUTBOT" class="img-fluid rounded">
                    </div>
                    <div class="col-md-8">
                        <p class="text-body text-justify">
                            Uma das novidades da ROBOBASE 2025 é a demonstração da modalidade FUTBOT (Futebol de Robôs Rádio-controlado). Nela, o público poderá interagir diretamente com os robôs, controlando os robôs via <em>joystick</em> e participando de partidas amistosas de futebol, com duração de 3 minutos, onde o objetivo principal é fazer mais gols.
                        </p>
                        <p class="text-body text-justify fst-italic">
                            Nessa modalidade, não é preciso construir ou levar seu robô nem mesmo inscrição prévia.
                        </p>
                    </div>
                </div>
                 <!-- End Competition Modalities Section-->


                <!-- Important Dates Section -->
                <h3 class="section-title mt-5 fw-bold">Datas Importantes</h3>
                <ul class="list-body">
                    <li>12/07/2025 - Abertura das inscrições (on line).</li>
                    <li>10/08/2025 - Término das inscrições (on line).</li>
                    <li>12/08/2025 - Inscrições presenciais (se houver vagas disponíveis).</li>
                    <li>13/08/2025 - Abertura dos boxes, testes dos robôs nas arenas e início das
                    partidas do FUTBOT (Futebol de Robôs Rádio controlado).</li>
                    <li>14/08/2025 - Competições, Mega-Sumô, Mini-Sumô, Follow Line.</li>
                    <li>15/08/2025 - Cerimônia de premiação.</li>
                </ul>
                <!-- End Important Dates Section -->

                <!-- Subscrition Section -->
                <h3 class="section-title mt-5 fw-bold">Inscrições</h3>
                <p class="text-body text-justify">
                    As inscrições devem ser feitas pela plataforma <a href="https://www.elektrons.com.br/" target="_blank">Elektrons</a>. O processo envolve criação de contas por cada membro, criação da equipe pelo capitão e posterior inscrição dos robôs e membros no evento RoboBase 2025.
                </p>

                <p class="text-body text-justify">
                    As inscrições devem ser realizadas através da página de eventos da plataforma Elektrons, no seguinte link:
                    <a href="https://www.elektrons.com.br" target="_blank">www.elektrons.com.br</a>.
                </p>

                <h4>Passo a passo para inscrição no sistema Elektrons: </h4>
                

                <p class="text-body text-justify">
                    No 1º passo: cada membro da equipe deve criar uma conta no sistema Elektrons, inserindo seus dados pessoais solicitados e criando um nome de usuário (login) e uma senha pessoal.
                </p>

                <p class="text-body text-justify">
                    No 2º passo: o capitão da equipe deve criar a equipe, inserindo os dados da equipe.
                </p>

                <p class="text-body text-justify">
                    No 3º passo: o capitão deve adicionar os membros na equipe criada, usando os respectivos nomes de usuário (login) cadastrados pelos membros.
                </p>

                <p class="text-body text-justify">
                    No 4º passo: qualquer membro da equipe pode cadastrar os robôs em suas respectivas categorias. Não existe a opção de excluir um robô após o cadastro.
                </p>

                <p class="text-body text-justify">
                    No 5º passo: o capitão da equipe deve acessar a aba "Eventos" no sistema Elektrons, selecionar o evento ROBOBASE 2025 e efetuar a inscrição, escolhendo os membros e robôs que irão participar.
                </p>

                <p class="text-body text-justify">
                    A qualquer momento, enquanto houver vagas, o capitão pode inscrever mais participantes e robôs no evento.
                </p>

                <p class="text-body text-justify">
                    Cada equipe pode conter até 4 integrantes por robô. Portanto, uma equipe com 5 a 8 integrantes deverá ter pelo menos 2 robôs inscritos, independentemente da categoria.
                </p>

                <!-- End Subscrition Section-->

                <!-- Subscrition Tax Section -->
                <h3 class="section-title mt-5 fw-bold">Taxas de Inscrição</h3>

                <p class="text-body text-justify">
                    <strong>Inscrição de robôs,</strong> qualquer modalidade/categoria, valor por robô.
                </p>
                <p class="text-body text-justify">
                    R$ 5,00 - para equipes com todos os membros inscritos na ERBASE.
                </p>
                <p class="text-body text-justify">
                    R$ 10,00 - para não inscritos na ERBASE.
                </p>
                <h4>Inscrição de membros da equipe:</h4>
                <p class="text-body text-justify">
                    R$ 10,00 para membros não inscritos na ERBASE
                </p>
                <p class="text-body text-justify">
                    R$ 0,00 - Isento para membros inscritos na ERBASE.
                </p>
                <p class="text-body text-justify">
                    R$ 0,00 - Isento para estudantes de escolas públicas de Lagarto-SE.
                </p>
                <p class="text-body text-justify">
                    Na plataforma ELEKTRONS, será sempre exibido o valor sem os descontos.
                </p>
                 <!-- End Subscrition Tax Section -->

                <!-- Payment Section -->
                <!-- Pagamento -->
                <h3 class="section-title mt-5 fw-bold">Pagamento</h3>

                <p class="text-body text-justify">
                    A inscrição será paga exclusivamente via PIX.
                </p>
                <p class="text-body text-justify">
                    Chave PIX: <strong>elektronseventos@gmail.com</strong>
                </p>
                <p class="text-body text-justify">
                    Após o pagamento via PIX, um e-mail deverá ser enviado para <strong>elektronseventos@gmail.com</strong>, anexando o comprovante de pagamento e o comprovante de inscrição dos membros na ERBASE para validação da inscrição.
                </p>
                <p class="text-body text-justify">
                    Nos casos onde a isenção de taxa se aplica, o comprovante de matrícula ou uma declaração da escola deverá ser enviado juntamente com o comprovante de pagamento.
                </p>
                <p class="text-body text-justify">
                    Para equipes com membros inscritos na ERBASE, o pagamento deverá ser feito já com os descontos aplicados manualmente.
                </p>
                <p class="text-body text-justify">
                    Por exemplo: se uma equipe inscrita na ERBASE inscrever 3 robôs, e 3 membros,
                    o sistema calculará R$30,00 referente aos 3 robôs mais R$10,00 por cada
                    membro, totalizando R$60,00, porém, a equipe deverá pagar apenas R$ 15,00,
                    pois será concedido um desconto de R$ 15,00 na inscrição dos robôs e R$30,00
                    de desconto na inscrição de membros e isso deve ser feito por meio de
                    procedimento manual.
                </p>
                <p class="text-body text-justify">
                    O capitão da equipe receberá um e-mail de confirmação das inscrições à medida que forem processadas. Equipes que não efetuarem o pagamento não estarão aptas a competir.
                </p>
                <p class="text-body text-justify">
                    Qualquer dúvida entre em contato por e-mail: <a href="mailto:elektronseventos@gmail.com">elektronseventos@gmail.com</a>
                </p>
                <p class="text-body text-justify">
                    É obrigatório que até o início da competição TODOS os membros da equipe e seus respectivos robôs estejam inscritos na ERBASE/ROBOBASE e tenham efetuado o pagamento. Caso contrário, a equipe não estará apta a competir.
                </p>
                <!-- End Payment Section -->

                <!-- Teams Section -->
                <h3 class="section-title mt-5 fw-bold">As Equipes</h3>

                <p class="text-body text-justify">
                    Cada equipe representa uma instituição de ensino fundamental, médio ou
                    superior pública ou privada e pode ser formada por estudantes do ensino
                    fundamental médio, graduação, pós-graduação e docentes, sendo que, se a
                    equipe for composta por menores de 18 anos, a presença de um professor ou
                    tutor maior de idade é obrigatória e será este o responsável pelos menores.
                </p>
                <p class="text-body text-justify">
                    As equipes podem ser compostas por um mínimo de 1 (um) e um máximo de 10
                    (dez) pessoas, sendo que será limitado o número de 4 pessoas por robô inscrito,
                    logo uma equipe com 10 pessoas deverá ter no mínimo 3 robôs inscritos,
                    independente da categoria ou classe.
                </p>
                <p class="text-body text-justify">
                    Uma mesma instituição pode ter várias equipes participantes.
                </p>
                <p class="text-body text-justify">
                    A competição será limitada a no máximo 16 robôs, por categoria. Não será
                    garantido pela organização infraestrutura disponível para cada equipe
                    individualmente, tendo as equipes que compartilhar o espaço para manutenção
                    dos robôs durante a realização da competição.
                </p>
                <p class="text-body text-justify">
                    A competição se destina (mas não se limita) a alunos de instituições de ensino da
                    área de computação (Ciência da Computação, Engenharia de Computação,
                    Sistemas de Informação, etc.) e áreas afins (Matemática, Física e Engenharias).
                </p>
                <p class="text-body text-justify">
                    Não será fornecido pela organização nenhum tipo de material ou suporte para o
                    funcionamento dos robôs, cabendo a cada equipe estarem com seus robôs
                    funcionais no momento da competição, bem como levar todo ferramental
                    necessário para ajuste ou manutenção dos robôs.
                </p>
                <p class="text-body text-justify">
                    É recomendado que cada equipe leve no dia da competição, uma extensão
                    elétrica com de pelo menos 3 metros, bem como e um filtro de linha com 3
                    tomadas com o objetivo de alimentar os componentes elétricos como:
                    computador, carregador de bateria, ferros de solda, entre outros que venham a
                    utilizar. A rede elétrica local 127 Volts.
                </p>

                <h5 class="fw-bold mt-4">Equipes do Ensino Médio e Fundamental</h5>
                <p class="text-body text-justify">
                    Equipes compostas por estudantes do ensino médio e fundamental e/ou que
                    possuam integrantes menores de 18 anos de idade devem possuir entre seus
                    membros pelo menos um tutor, que será o responsável legal pelos menores
                    durante todo o evento, onde o mesmo deve estar devidamente inscrito na
                    ERBASE.
                </p>
                <p class="text-body text-justify">
                    O tutor(a) obrigatoriamente deverá estar presente no dia da competição, e deverá
                    assinar um termo de responsabilidade constando a lista de membros menores da
                    equipe. Equipes de mesma instituição podem ter um mesmo tutor.
                </p>
                <!-- End Teams Section -->

                <!-- Competition Format Section -->
                <h3 class="section-title mt-5 fw-bold">Formato da Competição</h3>

                <p class="text-body text-justify">
                    A competição é dividida em três categorias:
                </p>
                <p class="text-body text-justify">
                    <strong>Sumô de robôs autônomo:</strong> dividido em duas classes:
                </p>
                <ul>
                    <li>Mega Sumô 3kg</li>
                    <li>Mini Sumo 500g.</li>
                </ul>
                <p class="text-body text-justify">
                    Regras do Sumô: <a href="https://docs.google.com/document/d/1xYfCfy5-Zc4V1PNY0scQdOYroMBfF7uL2eGMfE9-Nsg/edit?usp=sharing" target="_blank">Clique aqui para acessar</a>.
                </p>
                <p class="text-body text-justify">
                    <strong>Robô seguidor de linha (Follow Line):</strong>
                </p>
                <p class="text-body text-justify">
                    Regras do seguidor de linha: <a href="https://docs.google.com/document/d/1mqeWCcjDqtsvMQWtUlY0xe2675mayWjuc14MGFMoyGs/edit?usp=sharing" target="_blank">Clique aqui para acessar</a>.
                </p>
                <p class="text-body text-justify">
                    Cada categoria/classe compete independente da outra, estando as equipes aptas a competir em qualquer categoria/classe com um ou mais robôs.
                </p>
                <p class="text-body text-justify">
                    Um mesmo robô pode participar de mais de uma categoria, desde que atenda os requisitos de dimensão e peso para cada classe, no entanto, as competições podem ocorrer simultaneamente em locais diferentes, podendo o robô ser desclassificado caso não compareça para competir no momento solicitado.
                </p>

                <!-- End Competition Format Section -->

                <!-- Interposition of Appeals Section -->
                <!-- Interposição de Recursos -->
                <h3 class="section-title mt-5 fw-bold">Interposição de Recursos</h3>

                <p class="text-body text-justify">
                    Somente o capitão da equipe poderá recorrer à organização da competição caso julgue que seu time tenha sido prejudicado durante uma rodada.
                </p>
                <p class="text-body text-justify">
                    Cabe a cada equipe ter conhecimento das regras de cada categoria e deve em caso de dúvidas dirigir-se à coordenação para esclarecer qualquer dúvida acerca do entendimento das regras.
                </p>
                <p class="text-body text-justify">
                    Qualquer recurso deve ser imediatamente solicitado ao juiz das lutas ou ao coordenador da ROBOBASE.
                </p>
                <p class="text-body text-justify">
                    O Comitê Diretor da ROBOBASE decidirá sobre o caso no momento oportuno. Os resultados serão divulgados ligeiramente após a etapa final. Um recurso deve estar baseado em uma ou mais das circunstâncias a seguir: violação de uma regra, má conduta de uma equipe ou má conduta da administração da competição.
                </p>
                <p class="text-body text-justify">
                    As decisões dos juízes são finais e não cabem contestações.
                </p>
                <p class="text-body text-justify">
                    Cabe às equipes ajudar na transparência da competição denunciando outras equipes que utilizem de práticas e recursos tecnológicos não permitidos pelas regras.
                </p>

                <!-- End Interposition of Appeals Section -->

                <!-- Awards Section -->
                <h3 class="section-title mt-5 fw-bold">Premiação</h3>
                <p class="text-body text-justify">
                    A premiação será concedida para os robôs que obtiverem as 3 melhores colocações em cada uma das 3 categorias/modalidade, e premiadas da seguinte forma:
                </p>
                <p class="text-body text-justify">
                    1º lugar: troféu e medalhas
                </p>
                <p class="text-body text-justify">
                    2º lugar: troféu e medalhas
                </p>
                <p class="text-body text-justify">
                    3º lugar: troféu e medalhas
                </p>
                <!-- End Awards Section -->

                <!-- Questions & Doubts Section -->
                <h3 class="section-title mt-5 fw-bold">Dúvidas</h3>
                <p class="text-body text-justify">
                    Em caso de dúvidas, entre em contato com a organização do evento pelo e-mail:
                    <a href="mailto:ivanoe@ufrb.edu.br">ivanoe@ufrb.edu.br</a>.
                </p>
                <p class="text-body text-justify">
                    Um grupo de WhatsApp foi criado para discussão sobre o evento, qualquer um pode ingressar através do link:
                    <a href="https://chat.whatsapp.com/ICiFiiLaFiKBjKioIujT0R" target="_blank">Clique aqui para entrar</a>.
                </p>

                <!-- End Questions & Doubts Section -->
                 
                <!-- Results Section -->
                <h3 class="section-title mt-5 fw-bold">Resultados</h3>

                <p class="text-body text-justify">
                    A ser divulgado após término da competição no site <a href="https://www.elektrons.com.br" target="_blank">www.elektrons.com.br</a>.
                </p>
                <!-- End Results Section -->
            </div>
        </section>
        <!-- End About Section -->
    </main>
    <!-- Footer -->
    <footer class="text-white py-5" style="background-color: #29166D; border-radius: 20px 20px 0 0;">
        <div class="container">
            <div class="row gy-4 text-center text-md-start">
                <!-- Realization -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Realização</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <a href="https://www.sbc.org.br/" target="_blank" rel="noopener noreferrer">
                            <img src="../static/images/sbc.svg" alt="SBC" height="60" />
                        </a>
                        <img src="../static/images/ifs-lag.svg" alt="IFS Lagarto" height="60" />
                    </div>
                </div>

                <!-- Support -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Apoio</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <img src="../static/images/ufs.svg" alt="UFS" height="60" />
                        <img src="../static/images/uninassau.svg" alt="UNINASSAU" height="60" />
                    </div>
                </div>


                <!-- Funding -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Fomento</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <img src="../static/images/ifs-propex.svg" alt="IFS Propex" height="60" style="max-width: 100%;" />
                        <img src="../static/images/fapitec.svg" alt="FAPITEC" height="60" />
                    </div>
                </div>

                <!-- Sponsorship -->
                <div class="col-md-3">
                    <h6 class="text-uppercase fw-bold mb-3">Patrocínio</h6>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3">
                        <img src="../static/images/quero-delivery.svg" alt="Quero Delivery" height="80" />
                        <img src="../static/images/minas.png" alt="Minas" height="60" />
                        <img src="../static/images/tecnos.png" alt="Tecnos" height="60" />
                    </div>
                </div>

                <hr class="border-light" />

                <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center mt-4 px-2 text-center text-md-start">
                    <small>&copy; 2025 ERBASE - Todos os direitos reservados.</small>
                    <small>
                        Contato:
                        <a href="mailto:erbase2025@ifs.edu.br" class="text-white text-decoration-underline">
                            erbase2025@ifs.edu.br
                        </a>
                    </small>
                </div>

            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>
</body>

</html>